<a href="/chats/{{friendName}}">
	<li class="chat" id="{{friendName}}">
		<img src="/placeholder.png" alt="{{friendName}}">
		<div class="chat_preview_text">
			<div class="chat_info">
				<span class="friend_name">{{friendName}}</span>
				<span class="time">{{timestamp}}</span>
			</div>
			<span class="preview">{{preview}}</span>
		</div>
	</li>
</a>