<div id="chat_display">
	<ul id="messages_list">
		{{#each messages as |message|}}
			{{chat_message message ../me}}
		{{else}}
			<li id="empty_chat_content">
				<h1>This is the beginning of your message history with <a href="/friends/{{them}}">{{them}}</a></h1>
			</li>
		{{/each}}
	</ul>
</div>

<div>
	<form id="new_message" action="">
		<textarea type="text" id="message_box" placeholder="Type message here..."></textarea>
		<input type="hidden" id="message_sender" value="{{me}}"/>
		<input type="submit" id="new_message_submit" value="Send"/>
	</form>
</div>