<li class="search_result">
	<a href="/friends/{{user.username}}">
		<img class="avatar" src="/placeholder.png" alt="{{user.username}}" width="124px" height="124px">
	</a>
	<div class="result_text">
		<a href="/friends/{{user.username}}"><h1>{{user.username}}</h1></a>
		<ul class="lang_results">
			{{#each user.languages as |lang|}}
				{{result_language lang}}
			{{/each}}
		</ul>
	</div>
	<a class="start_chat_icon" href="/chats/{{user.username}}"><img src="/start_chat_icon.png" alt="start chat"></a>
</li>